body#login{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #013803, #04B80A);
}

.card#login{
    justify-content: center;
    align-items: center;
    margin-left: 25%;    
    box-shadow: 3px 6px 8px 3px rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    width: 40%;
}

#img-logo-redonda-login{
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

img#icon-login{
    height: 1rem;
}

input#checkbox-login{
    background-color: #027a06;
}

.form-group#login{
    margin-top: 40px;
    margin-bottom: 20px;
}