body{
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #013803, #04B80A);
}

.card{
    justify-content: center;
    margin-left: 25%;    align-items: center;
    box-shadow: 3px 6px 8px 3px rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    width: 45%;
}

.card-title{
    margin-bottom: 30px;
}

#img-logo-redonda{
    margin-top: 1rem;
    opacity: 60%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#img-logo-gp{
    height: 40px;
    width: 140px;
}

img#icon{
    height: 1rem;
}

input#checkbox{
    background-color: #027a06;
}

#btn{
    margin-top: 40px;
    margin-bottom: 20px;
}

/* @media screen, (){
    .card-title{
        font-size: 15px;
    }
} */