#titulos{ 
    /* flex-direction: column; */
    text-align: center;
    font-size: 24px;
    font-style: normal;
    color: rgb(0, 0, 0);
  }
  .container{
    align-items: center;
    justify-content: center;
  }
  #logo{
    text-align: center;  
  }
  .card{
    align-items: center;
    height: 50%;
    width: 50%;
    box-shadow: 3px 6px 8px 3px rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    margin-top: 10%;
    height: 50%;
    width: 50%;
  }
  button#cont_toner{
    margin-bottom: 100px;
  }
  